In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [3]:
# 지정한 행을 가져오는 인덱서
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [4]:
# 모두 같은 값을 출력한다
df.loc['b':'c']
df["b":"c"]
df.loc[['b', 'c']] #loc없이는 오류

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [5]:
# 불린값을 반환한다
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [6]:
# A열에서 15 초과인 값을 가지는 행을 선택해 출력한다.
df.loc[df.A>15]

    A   B   C   D
c  18  19  20  21

In [7]:
# 15초과 값을 불린으로 반환하는 함수 정의
def select_rows(df):
    return df.A>15

select_rows(df)

a    False
b    False
c     True
Name: A, dtype: bool

In [8]:
df.loc[select_rows(df)]

    A   B   C   D
c  18  19  20  21

In [9]:
df2 = pd.DataFrame(np.arange(10, 26).reshape(4, 4), columns=["A", "B", "C", "D"])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [10]:
# df2의 1,2행 출력
df2.loc[1:2]

    A   B   C   D
1  14  15  16  17
2  18  19  20  21

In [11]:
# a행 A열 출력
df.loc["a", "A"]

10

In [12]:
# b행부터 끝까지 A열 출력
df.loc["b":,"A"]

b    14
c    18
Name: A, dtype: int32

In [13]:
# a행 모든 열의 값 출력
df.loc["a", :]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [14]:
# a,b행의 B,D열 출력
df.loc[["a", "b"], ["B", "D"]]

    B   D
a  11  13
b  15  17

In [15]:
# A열의 값이 10을 초과하는 행의 C,D열 출력
df.loc[df.A > 10, ["C", "D"]]

    C   D
b  16  17
c  20  21

In [16]:
# 0행 1열을 출력
df.iloc[0, 1]

11

In [17]:
# 2열의 값을 1행까지 출력
df.iloc[:2, 2]

a    12
b    16
Name: C, dtype: int32

In [18]:
# 2행을 1열,2열 출력
df.iloc[2:3, 1:3]

    B   C
c  19  20

In [19]:
# 음수는 순서가 반대, 마지막 행 출력
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: c, dtype: int32

In [20]:
# 마지막 행 모든 값에 2를 곱하고, 전체를 출력
df.iloc[-1] = df.iloc[-1] * 2
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  36  38  40  42